// @import "variables";

footer {
	.wrapper {
		padding: 0;
		display: flex;
		justify-content: space-apart;
		flex-direction: row;
		width: 100%;

	.black {
		color: $black;
	}


	p {
		width: 50%;
		font-size: .8rem;
	}
}
}