

.plants {
	// overflow: hidden;
	// margin: 5% 0;
}

// .wrapper {
// 	display: flex;
// 	flex-direction: column;
// }

.plants-content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.plants-title {
		background-image: url(../assets/leaf.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		h3 {
			font-weight: 400;
			font-size: 1.9rem;
			color: $green;
			margin-bottom: 0;
		}
		h2 {
			font-weight: 400;
			margin: 0 0 12px 0;
			font-size: 2.3rem;
		}
	}

	p {
		margin: 2% auto;
		// font-size: 1rem;
	}

	.plants-author {
		display: flex;
		flex-direction: row;
		margin: 3% 0 8% 0;

		p {
			text-align: left;
			font-style: italic;
			margin: 0 auto;
			text-align: center;
			font-size: 1rem;
			
			.black {
				font-style: normal;
				color: $black;
			}

		}
	}
}



.plants-gallery {
	display: flex;
	width: 100%;

	.plants-gallery-left {
		width: calc(40% - 7.5px);
		margin-right: 7.5px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;


		img {
			width: 100%;
			height: 100%
		}

		.hover-overlay {
			display: none;
		}
		&:hover .hover-overlay {
				// display: block;
				position: absolute;
				z-index: 50;
				width: 100%;
				height: 100%;
				top: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.5);
		}

		.plants-overlay1 {
			position: absolute;
			z-index: 200;
			padding: 2px 2px;
			width: 50%;
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			h3 {
				font-weight: 400;
				font-size: 1rem;
				text-align: center;
				margin: 0 auto;
			}
			p {
				font-size: 0.8rem;
				text-align: center;
				margin: 0 auto;
			}
		}
	}

	.plants-gallery-right {
		width: calc(60% - 7.5px);
		display: flex;
		flex-direction: column;
		margin-left: 7.5px;

		.plants-container {
			width: 100%;
		}

		.plants-gallery-right-top {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-bottom: 15px;

			.plants-gallery-right-top-left {
				width: calc(50% - 15px / 2);
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				&:first-child {
					margin-right: 15px;
				}
				img {
					width: 100%;
					display: block;
				}
				.plants-overlay2 {
					position: absolute;
					z-index: 200;
					padding: 2px 2px;
					width: 50%;
					background: white;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					h3 {
						font-weight: 400;
						font-size: 1rem;
						text-align: center;
						margin: 0 auto;
					}
					p {
						font-size: 0.8rem;
						text-align: center;
						margin: 0 auto;
					}
				}
			}
			.plants-gallery-right-top-right {
				width: calc(50% - 15px / 2);
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 100%;
					display: block;
				}
				.plants-overlay3 {
					position: absolute;
					z-index: 200;
					background: white;
					padding: 2px 2px;
					width: 50%;
					background: white;
					justify-content: center;
					align-items: center;

					h3 {
						font-weight: 400;
						font-size: 1rem;
						text-align: center;
						margin: 0 auto;
					}
					p {
						font-size: 0.8rem;
						text-align: center;
						margin: 0 auto;
					}
				}
			}
		}

			.plants-gallery-right-bottom {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;

				img {
					width: 100%;
				}

				.plants-overlay4 {
					position: absolute;
					z-index: 200;
					background: white;
					padding: 2px 2px;
					width: 30%;

					h3 {
						font-weight: 400;
						font-size: 1rem;
						text-align: center;
						margin: 0 auto;
					}
					p {
						font-size: 0.8rem;
						text-align: center;
						margin: 0 auto;
					}
				}
			}
	}
}

